<div class="card">
  <div class="page-header">
    <h2>New Post</h2>
  </div>
  <%= render "form", post: @post %>
  <div class="mt-2">
    <a href="<%= posts_path %>" class="btn btn-secondary">Back</a>
  </div>
</div>
